<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "A+Blog" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>

    <div class="grid-x grid-padding-x">
      <div class="cell small-1 medium-2 large-2">
      </div>
      <div class="cell small-10 medium-8 large-6">
        <% flash.each do |key, value| %>
            <div class="callout <%= key %>" data-closable>
              <%= value %>
              <button class="close-button" aria-label="Close alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <% end %>

        <div class="app-wrapper"></div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
